body {
  font-family: Georgia;
  padding-bottom: 75px;
}

.trophy {
  height: 10vw;
}

.banner {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.title:before {
  content: 'Horde World Championship';
}

.navbar a {
  color: white;
}

@media screen and (max-width:460px) {
  .title:before {
    content: 'Horde WC';
  }
}
