{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h2 align="center">The AWC has started!</h2>
<p>
  Useful links:
  <ul>
    <li><a href="https://lichess.org/@/HowlinD/blog/the-2025-atomic-chess-world-championship-rules/XW9Ph1Mc">The rules</a></li>
    <li><a href="https://lichess.org/team/atomic-wc">Lichess team</a></li>
  </ul>
</p>
{% endblock content %}
