{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block add_to_head %}
<style>
#countdown {
    font-size: 10vw;
    font-weight: bold;
}
</style>
{% endblock add_to_head %}

{% block content %}
<h2 align="center">Registrations open on 15 July at 0:00 UTC!</h2>
<p align="center" id="countdown"></p>
<script>
const open = new Date(Date.UTC(2025, 6, 15, 0, 0, 0));
function refreshCountdown() {
    var diff = Math.max(0, Math.ceil((open - (new Date())) / 1000));
    var seconds = diff % 60;
    var minutes = Math.floor((diff / 60) % 60);
    var hours = Math.floor(diff / 3600);
    var hoursPad = hours.toString().padStart(2, "0");
    var minutesPad = minutes.toString().padStart(2, "0");
    var secondsPad = seconds.toString().padStart(2, "0");
    document.getElementById("countdown").textContent = hoursPad + ":" + minutesPad + ":" + secondsPad;
}
refreshCountdown();
setInterval(refreshCountdown, 1000);
</script>
{% endblock content %}
