{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row justify-content-md-center"><h2>Registrations are open!</h2></div>
<div class="row justify-content-md-center"><h3>Please carefully read <a href="https://lichess.org/@/HowlinD/blog/the-2025-atomic-chess-world-championship-rules/XW9Ph1Mc">THE RULES</a> before entering!</h3></div>
<div class="row justify-content-md-center"><h4>Registrations close 15 August, 23:59 UTC.</h4></div>
<div class="row justify-content-md-center mt-3">
<form method="GET" action="/auth">
  <button type="submit" class="btn btn-primary">
    <div class="row no-gutters">
    <div class="col-6"><img class="img-fluid" src="https://lichess1.org/assets/logo/lichess-favicon-128.png"></div>
    <div class="col-6 align-self-center">Sign in with Lichess to register</div>
    </div>
  </button>
</form>
</div>
{% endblock content %}
