{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row justify-content-md-center"><h3>Please carefully read <a href="/assets/doc/rules2025.pdf">THE RULES</a> before entering!</h3></div>
<div class="row justify-content-md-center mt-3">
<form method="POST" action="/register" id="regform">
  <div class="form-group">
    <label for="optional-comment">Optional comment for the tournament director:</label>
    <textarea id="optional-comment" name="optional-comment" class="form-control"></textarea>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="read-rules" required>
    <label class="form-check-label" for="read-rules">I have read and understood, and will comply to, the KotH WC rules.</label>
  </div>
  <div>
    <p>To verify that you have read and understood the rules, please answer the following quiz below.</p>
    <div class="form-group">
      To participate in the tournament, all new accounts must be created before:<br>
      <label><input type="radio" name="q1" value="0"> April 18th, 2025</label><br>
      <label><input type="radio" name="q1" value="1"> April 15th, 2025</label><br>
      <label><input type="radio" name="q1" value="2"> March 31st, 2025</label><br>
      <label><input type="radio" name="q1" value="3"> May 15th, 2025</label><br>
    </div>
    <div class="form-group">
      If the match is tied after ten games, you and your opponent will play pairs of 1+0 games until the winner is determined.
      <label><input type="radio" name="q2" value="1"> True</label> - <label><input type="radio" name="q2" value="0"> False</label>
    </div>
    <div class="form-group">
      To participate in the tournament, you must have played how many rated games of KotH?
      <input type="number" name="q3">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3 py-4" style="width:100%">Register for the KotH WC</button>
</form>
</div>

<script>
document.getElementById("regform").addEventListener("submit", (e) => {
  const q1a = document.querySelector('input[name="q1"]:checked')?.value;
  const q2a = document.querySelector('input[name="q2"]:checked')?.value;
  const q3a = document.querySelector('input[name="q3"]').value;
  const answers = q1a + ',' + q2a + ',' + q3a;
  if (btoa(answers) !== "MiwwLDI1MA==" ) {
    e.preventDefault();
    alert('Please make sure you answer the quiz correctly.');
  }
});
</script>
{% endblock content %}
