{% extends "base" %}

{% block title %} Rules (2025) {% endblock title %}

{% block add_to_head %}
<style>
    li {
        margin-bottom: 0.25vh;
    }

    ol#rules-root>li {
        margin-bottom: 2vh;
    }
</style>
{% endblock add_to_head %}

{% block content %}

<h2>ACWC Rules (2025 edition)</h2>
<ol type="I" id="rules-root">
    <li>Organization
        <ol type="A">
            <li>The ACWC will be played on <a href="https://lichess.org/">Lichess</a>.</li>
            <li>The 2025 Tournament Directors (TDs) are <a href="https://lichess.org/@/ODMWND">ODMWND</a> and <a href="https://lichess.org/@/TheUnknownGuyReborn">TheUnknownGuyReborn</a>.</li>
            <li>In case of disputes between participants, the TDs should be contacted, who will make the final call.</li>
            <li>Failure in complying to the rules can lead to a match forfeit or tournament disqualification, at TDs'
                discretion.</li>
        </ol>
    </li>
    <li>Player eligibility
        <ol type="A">
            <li>Entry requirements
                <ol type="1">
                    <li>Your Lichess account must be created prior to April 1, 2025, 00:00 UTC.</li>
                    <li>You must have played at least 500 rated Antichess games on Lichess.</li>
                    <li>You must have a rating deviation of 65 or lower at the time your entrant eligibility is checked.</li>
                    <li>You must be participating on your main account.</li>
                    <li>You must have joined the team <a href="https://lichess.org/team/antichess-wc">"Antichess WC"</a>.</li>
                </ol>
            </li>
            <li>Qualifications will be handled by a Lichess admin, disqualifying elements include:
                <ol type="1">
                    <li>You have an account that received a red Lichess Terms of Service violation mark after October 1, 2021.</li>
                    <li>"Cheat detected" games will be grounds for disqualification in the following cases:
                        <ol type="i">
                            <li>one since October 1, 2024</li>
                            <li>two since October 1, 2022</li>
                        </ol>
                    </li>
                    <li>
                        You have an account that has been marked as isolated (i.e. you cannot send or receive any messages).
                    </li>
                    <li>
                        You already entered the ACWC 2025 with another account. Your already entered
                        account will also be disqualified if you try to join with two accounts.
                    </li>
                    <li>BOT accounts cannot play.</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Format
        <ol type="A">
            <li>All games are rated and have 2+5 as time control.</li>
            <li>
                The tournament will consist of four stages: Qualification (Swiss), Candidates
                (Double round-robin), Semifinals (1v1) and the Grand Final and Third Place Playoff (1v1).
            </li>
            <li>
                <a href="https://lichess.org/@/Pinni7">Pinni7</a>, as 2024 world champion, is allowed to start in the Candidates upper pool.
            </li>
            <li>
                <a href="https://lichess.org/@/TheUnknownGuyReborn">TheUnknownGuyReborn</a>, as 2024 runner-up, is allowed to start in the Candidates lower pool.
            </li>
            <li>Qualification
                <ol type="1">
                    <li>
                        A Swiss tournament will be played between all entrants (except Pinni7 and TheUnknownGuyReborn). Each participant plays a 10-game match per round. A won game gives 1 point, a tie gives 0.5 points, and a lost game gives 0 points. Once either player reaches 5.5 points the players are allowed to stop there.
                    </li>
                    <li>
                        The number of rounds will be the base-2 logarithm of the number of participants, rounded down, plus two. So 32-63 players is 7 rounds, 64-127 players is 8 rounds, etc.
                    </li>
                    <li>
                        Your seeding rating is equal to the average of your Antichess rating at September 1, 2025, 00:00 UTC and your highest Antichess rating between March 1, 2025, 00:00 UTC and September 1, 2025, 00:00 UTC.
                    </li>
                    <li>
                        The 10 players that place highest in the Swiss (or more if Pinni7 or TheUnknownGuyReborn doesn’t play) will proceed to the next round.
                    </li>
                    <li>
                        Ties will broken (in order) by:
                        <ol type="i">
                            <li>Median-Buchholz.</li>
                            <li>Cumulative score.</li>
                            <li>Kashdan score.</li>
                            <li>Seed in Qualification round.</li>
                        </ol>
                    </li>
                    <li>Pairings will be taken care of by the TDs and will be posted on Lichess weekly.</li>
                </ol>
            </li>
            <li>Candidates
                <ol type="1">
                    <li>
                        A double round-robin tournament among the candidates will be played, where the “upper” and “lower” pools of 6 players each are
                        determined by placement in the previous rounds. Pinni7 starts in the upper pool, and TheUnknownGuyReborn starts in the lower pool.
                        If Pinni7 does not participate, then TheUnknownGuyReborn starts in the upper pool.
                    </li>
                    <li>
                        The players that go into each Candidate group will be divided accordingly:
                        <ol type="i">
                            <li>
                                If Pinni7 and TheUnknownGuyReborn both participate, the players in 10th, 7th, 6th, 3rd and 1st place from the Qualification
                                stage go into the “lower” Candidate pool. The players in 9th, 8th, 5th, 4th and 2nd place go into the “upper” Candidates pool.
                            </li>
                            <li>
                                If only one of Pinni7 and TheUnknownGuyReborn participates, the players in 11th, 8th, 7th, 4th, 2nd and 1st place go into the
                                “lower” Candidates pool. The players in 10th, 9th, 6th, 5th and 3rd place go into the “upper” Candidates pool.
                            </li>
                            <li>
                                If neither Pinni7 nor TheUnknownGuyReborn participates, the players in 12th, 9th, 7th, 6th, 4th and 1st place go into the “upper”
                                Candidates pool. The players in 11th, 10th, 8th, 5th, 3rd and 2nd place go into the “lower” Candidates pool.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Each candidate plays a 10-game match against each other candidate in their pool. A won game gives 1 point, a drawn game gives 0.5 points,
                        a lost game gives 0 points.
                    </li>
                    <li>
                        All 10 games must be played, since game scores may be used for tiebreakers.
                    </li>
                    <li>
                        The winner of each pool of the Candidates round will play a 10-game Semifinal Match against the second place player in the opposite pool.
                    </li>
                    <li>
                        Ties will broken (in order) by:
                        <ol type="i">
                            <li>Mutual match score.</li>
                            <li>Mutual game score.</li>
                            <li>Overall game score.</li>
                            <li>Result in 2024 ACWC Finals if applicable.</li>
                            <li>Result in 2025 ACWC Qualification round.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Semifinal Matches
                <ol type="1">
                    <li>
                        The winners of each Semifinal match will go on to face each other in the Grand Final, and the losers will go on to face each other in the Third Place Playoff.
                    </li>
                    <li>
                        If there is no winner after 10 games, then an armageddon game will decide the winner.
                    </li>
                </ol>
            </li>
            <li>Final Matches
                <ol type="1">
                    <li>The winners of each Semifinal match will play a 12-game Grand Final to determine the 2025 Antichess World Champion and Second Place.</li>
                    <li>The losers of each Semifinal match will play a 12-game Third Place Playoff to determine Third Place and Fourth Place.</li>
                    <li>If there is no winner of the Third Place Playoff, then 2 tiebreaker games will be played.</li>
                    <li>If there is no winner of the Grand Final, then 4 tiebreaker games will be played.</li>
                    <li>If there is no winner after the tiebreaker games in either final match, then an armageddon game will decide the winner.</li>
                </ol>
            </li>
            <li>Armageddon Rules
                <ol type="1">
                    <li>An armageddon game decides the winner:
                        <ol type="i">
                            <li>Black gets 3 minutes on the clock and draw odds (i.e. if draw, Black wins).</li>
                            <li>Both players make a time offer for White. The lowest offer plays white.</li>
                            <li>In case of identical offers, a game of rock-paper-scissors will determine who gets White.</li>
                            <li>There is no increment.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Timeline
        <ol type="A">
            <li>
                There is one match per week in all rounds.
            </li>
            <li>
                There will be a 1-week break between the Qualification and Candidates round, and between the Candidates round and Semifinal Matches.
            </li>
            <li>The pairings for the first matches will be published on Tuesday 28th October.</li>
            <li>The pairings for all subsequent matches will be published on subsequent Tuesdays.</li>
            <li>All matches must be completed by the following Monday 23:59 UTC.</li>
        </ol>
    <li>Match negotiations
        <ol type="A">
            <li>
                Each player is responsible to offer at least 3 separate times for the match, by Friday 23:59 UTC at the latest, unless an offer has been accepted
                before that number is reached.
            </li>
            <li>
                Players may begin negotiating a playing start time as soon as their next pairing is known. When a time is agreed on, it must be shared
                in the pairings forum post.
            </li>
            <li>
                You must ping your opponent in any post that concerns them. Editing a forum post invalidates it, as it makes it impossible to verify that this rule was followed.
            </li>
            <li>
                To prevent (most) time zone confusion, players must communicate their times in UTC.
            </li>
            <li>
                A player must be able to accept new messages while they are still included in pairings.
            </li>
            <li>
                The 3 offered times should be no closer than 3 hours to each other and no more than 2 on a single date.
            </li>
            <li>
                If 3 offers are not made in time the player at fault must accept a time chosen by the opponent.
            </li>
            <li>
                If both players fail to make 3 offers by the deadline then the match will count as a draw and both players will count as having forfeited
                a game.
            </li>
            <li>
                A player should respond to an offer by accepting or making a different offer, preferably within 24 hours.
            </li>
            <li>
                If both players make 3 offers but no agreement is made before the weekend then TDs will determine if fault lies with a particular player.
            </li>
            <li>
                Players may not agree to a draw without playing the series.
            </li>
            <li>
                If a player is at fault then their opponent will decide the match time, if no player is at fault then the match will be ruled as a draw.
            </li>
            <li>
                Case-by-case exceptions may be made to the aforementioned rules at the TDs’ discretion.
            </li>
        </ol>
    </li>
    <li>Match rules (applying at all stages)
        <ol type="A">
            <li>Each player has the right to call a break once during the match, between two games. The break lasts at most 10 minutes.</li>
            <li>
                If no break is called, a rematch must be offered and accepted immediately.
                Repeated failure in doing so leads to a forfeit.</li>
            <li>
                If a player is offline at the time of the match, they have a 10 minute grace period to come online and start the game. The appearing player has to message the TDs that their opponent did not show up and again 10 minutes afterwards if the opponent still didn’t show up. The appearing player has the choice to reschedule or claim a win. If the appearing playing does not claim a win and rescheduling fails, the match will be forfeited in favor of the appearing player.
            </li>
            <li>If a player leaves the match while it's still ongoing, they get 10 minutes to come back
                and this counts as their break. If they don't come back in time, their opponent gets the option
                to claim a win (similar to rule VI.C).</li>
            <li>If Lichess servers go down while a match is in progress, the match is to be postponed and completed at
                another mutually agreed time within the deadline. The initial score is kept, except for the one game
                affected by the shutdown which is discarded.</li>
            <li>If a player gets forfeited in two different matches, they get disqualified from the ACWC.</li>
            <li>After a match, the winning player is responsible for posting the results in the Pairings forum post unless the players have agreed otherwise, or a player is chat banned.</li>
        </ol>
    </li>
    <li>Reporting cheats
        <ol type="A">
            <li>
                Accusations of cheating must be made privately to the TDs. Any accusation in
                public will result in a disqualification of the accuser, regardless of whether
                the accusation was correct or not.
            </li>
            <li>
                If an accused player is found guilty, they will be disqualified from the
                tournament.
            </li>
            <li>
                If a player gets marked as engine/booster on Lichess during the ACWC but for
                non-ACWC games, they also get disqualified from the ACWC.
            </li>
        </ol>
    </li>
    <li>Disqualification and withdrawals
        <ol type="A">
            <li>Qualifications
                <ol type="1">
                    <li>
                        If a player withdraws or gets disqualified from the Qualification, they will
                        not be included in later pairings. If they still have an uncompleted pairing,
                        their opponent wins this game.
                    </li>
                    <li>
                        If the disqualification happens on grounds of an engine mark (not booster
                        mark), all of their finished games in the Qualification will be adjudicated
                        in favor of their opponents.
                    </li>
                </ol>
            </li>
            <li>Candidates: If a player withdraws or gets disqualified from the Candidates, all of their
                games will be disregarded.
            </li>
            <li>
                Semifinal Matches: If a player withdraws or gets disqualified, the other players below them in their Candidate pool move up one
                position in their placement in the Semifinal Matches.
            </li>
            <li>
                Final Matches: If a player withdraws or gets disqualified, the other players below them in the Semifinals and Candidates move
                up one position in their placement in the Final Matches.
            </li>
        </ol>
    </li>
</ol>

{% endblock content %}